# Python
__pycache__/
*.py[cod]
*.pyo
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/
node_modules/

# Airflow
airflow/
airflow_home/
logs/
dags/__pycache__/
plugins/__pycache__/

# Environment & configs
.env
.env.local
.env.example
*.log
*.pid

# System
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Docker
docler-compose.yml